.signin-container {
    font-family: $rubik;
    padding: 2rem 0;
    margin-top: 5%;
    // border: 1px solid red;
    flex-wrap: wrap;

    input {
        padding: 10px;
        background: #FAFAFA;
        width: 100%;
        border: 1px solid $lightGrey;
        border-radius: 2px;
        margin-bottom: 15px;
    }
    .submit {
        padding: 12px;
        color: $white;
        background: $blue;
        width: 55%;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
    }
    label {
        color: $greySecondary;
    }
    h6 {
        font-size: 16px;
        margin: 15px 0;
        font-weight: 700;
    }
    .signin-image {
        margin-top: 20px;
        width: 100%;
    }
    .signin-form {
        width: 100%;
        order: 2;
    }
    .divider {
        text-align: center;
        margin: 20px 0;
    }
    .third-party-auth {
        align-items: baseline;
        justify-content: space-evenly;
        p {
            font-size: 32px;
        }
        .google-icon {
            color: #EA4332;
        }
        .fb-icon {
            color: #4267B2;
        }
        .twitter-icon {
            color: #1EA1F2;
        }
    }
}

@media all and (min-width: 768px) {
    .signin-container {
        flex-wrap: nowrap;
    }
    .signin-form,
    .singin-image{
        width: 50%;
    }
    // .signin-form {
    //     order: 2;
    // }
}